*{
	box-sizing: border-box;
	font-family: "Arial", sans-serif;
}
.icon {
  width: 20px;
  height: 20px;
}
.icon-wrap {
  padding: 50px;
}
.title-row {
border:  3px solid black;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  border-radius: 10px;
}
.title-row:not(:first-of-type){
  margin-top: 15px;
}
.hidden {
  /* https://www.a11yproject.com/posts/how-to-hide-content/ */
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* webdevelop.css | http://localhost:3005/project/public/webdevelop.css */



.nav {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  padding: 10px;
    display: flex;
    align-items: center;
  justify-content: space-between;
}
.user-img {
  width: 50px;
  border-radius: 50%;
  height: 50px;
  border: 2px solid black;
}
.user-info {
  display: flex;
  column-gap: 10px;
  align-items: center;
}
body {
  min-height: 100vh;
  margin: 0;
}
.title-list{
	min-height: 100%;
	min-width: 100%;
  min-height: 100vh;
	padding: 20px;
}
.btn_grp {
  display: flex;
  column-gap: 10px;
  align-items: center;
}
.btn_float {
  position: fixed;
  bottom: 1%;
  right: 1%;
}
  @import "https://unpkg.com/open-props";
  @import "https://unpkg.com/open-props/normalize.min.css";
  @import "https://unpkg.com/open-props/buttons.min.css";
